.cover__subtitle {
  position: absolute;
  bottom: 16%;
  left: 5%;
  right: 5%;
  z-index: 2;
  font-size: calc(0.87rem + 4 * (100vw - 320px)/1280);
  line-height: 16px;    
  text-align: center;    
  color: #FFFFFF;
}