.header {
  grid-area: header;
  width: 90vw;
  margin: 28px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px auto 0;

  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 288px;

  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
  }
}
