.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0 3.75% 0;
  margin-top: 5%;
}

@media screen and (min-width: 480px) {
  .header {
    margin-top: 24px;
  }
}

