.content {
  grid-area: content;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .content {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    width: 1184px;
  }
}
