.lead__title {
  margin: 0 auto 0;
  padding: 0;
  font-weight: 900;
  font-size: calc(2.5rem + 56 * (100vw - 320px)/1280);
  line-height: calc(2.7rem + 60 * (100vw - 320px)/1280);
  text-align: center;
  color: #FFFFFF;
  width: 90%;
}

@media screen and (max-width: 320px){
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 768px){
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
