.lead__image {
  margin: 11.3vw auto 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    margin: 56px 48px 0;
    width: 91%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: 68px auto 0;
    width: 984px;
  }
}