.lead__image {
  margin: 7.3vw auto 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
}

@media screen and (min-width: 876px) {
  .lead__image {
    margin: 64px 5% 0;
    width: 90%;
  }
}