.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9vw;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover:hover::before {
  opacity: 0.8;
  cursor: pointer;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

@media screen and (max-width: 320px){
  .cover {
    margin-top: 66px;
  }
}

@media screen and (min-width: 768px){
  .cover {
    margin-top: 12vw;
  }
}


@media screen and (min-width: 1024px){
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px){
  .cover {
    margin-top: 75px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }
}