/* .cover__overlay {
  border: 1px solid white;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 25.6vh;;
  position: relative;
  background-image: url(../../../images/cover-overlay.svg);
} */