.cover__title {
  margin: 15vw auto 0;
  font-weight: 900;
  font-size: 9.6vw;
  line-height: 9.9vw;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-top: 12vw;
    font-size: 32px;
    line-height: 35px;
    width: 255px;
  }
}


@media screen and (min-width: 768px) {
  .cover__title {
    margin-top: 17vw;
    width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}


@media screen and (min-width: 1024px) {
  .cover__title {
    margin-top: 19vw;
    width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin-top: 245px;
    width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}