.cover__title {
  margin: 0;
  position: absolute;
  top: 16%;
  left: 5%;
  right: 5%;
  bottom: 48.5%;
  z-index: 2;
  font-weight: 900;
  font-size: calc(2rem + 40 * (100vw - 320px)/1280);
  line-height: calc(2.19rem + 41 * (100vw - 320px)/1280);
  text-align: center;
  color: #FFFFFF;
}